*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    overflow-x: hidden;
}


.bigHero-AboutUs{
    margin-top: -200px;
    width: 100%;
    height: 70vh;
    background-image: url('https://images.pexels.com/photos/3554584/pexels-photo-3554584.png?auto=compress&cs=tinysrgb&w=800');
background-repeat: no-repeat;
background-size: cover;
}
.whoWeAre{
   text-align: center; 
   height: 50vh;
   background-color: green;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;

}
.whoWeAre p{
    width: 40%;
}
.targetImage{
    background-color: red;
    padding: 0;
}

.targetImage img{
width: 100%;
height: 400px;
object-fit: cover;
}
.mainBox-whatwedo{
width: 100%;
height:400px ;
background-image: url('https://images.unsplash.com/photo-1528580152190-66d551db2e06?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8b3JhbmdlJTIwZmFybXxlbnwwfDB8MHx8fDA%3D&auto=format&fit=crop&w=800&q=60');
background-repeat: no-repeat;
background-size: cover;
background-position: center center;
display: flex;
align-items: center;



}
.h1WhatWeDo{
    font-size: 50px;
    color: white;
    padding-left: 400px;


}
