.custumeBGNavbar{
background-color:#FFA500;
border-radius: 0;
height: auto;
margin: 0;
padding: 20px;

}
.custumeBGNavbar a:hover{
  color:#0f9015;
}
.bighero-blog {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color:black;
  padding-top: 65px;
  background-color: #F5F5F7;
}
.custumeImgBlog3{
  height: 550px;
  width: 100%;
  object-fit: cover;
}
.mainContainer{
  background-color: #F5F5F7;
  padding: 40px 0px;
  }
  .wrapper-blogOne h1{
    font-weight: bolder;
      }
  .wrapper-blogOne h2{
    font-size: 30px;
    line-height: 37px;
    font-weight: bolder;
      }
      .wrapper-blogOne h3{
        font-weight: bolder;
            font-size: 25px;
          }
          .wrapper-blogOne h4{
                font-size: 25px;
              }
/* 

.wrapper-blogOne{
  width: 70%;

}

.wrapSidebar{
  width: 30%;
  padding: 20px;
}
.wrapSidebar h3{
  text-align: center;
} */
.borderBlogSocial{
  border: 2px solid orange;
  padding: 20px;
  margin-top: 180px;
}
.custumBlogCart {
  background-color: #e9e8ed;
  border-radius: 30px;
}
.blog-readmore {
  font-size: 20px;
  font-weight: bold;
  background-image: -webkit-linear-gradient(45deg, #05a398, #f7ab0f, #f45529);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.benefit-blog-ptag{
padding-bottom: 15px;
}
/* blog2-html */
.custumeContainerBlog {
  background-color: #F5F5F7;
}

.custumCardBlog {
  border-radius: 30px;
  border: none;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  /* min-height: 500px;
  max-height: auto; */
height: 550px;
}
.custumCardBlog img {
  height: 300px;
  object-fit: cover;

}
.custumImgBlog{
    overflow: hidden;
    transition: 2s ease-in-out;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    cursor: pointer;
}
.custumCardBlog a,
.custumCardBlog h5,
.custumCardBlog p{
    color: black;
    text-decoration: none;
}
.custumCardBlog h5{
  line-height: 30px;
}
/* image move up and down */
.custumCardBlog img:hover {
  transform: scale(1.1);
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  transition: 1s ease-in-out;
}
.custumeAllRow{
  width: 80%;
}
/* blog  detail 2 page*/
.wrap3image-blogDetail2{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gray;
  height: 400px;
  margin: 30px 0px 40px 0px;
}
.wrap3image-blogDetail2 img{
width: 25%;
height: 200px;
object-fit: cover;
margin: 10px;
}
/* why chiangmai blog page */
.cutume2ImgWhyBlog{
  height: 400px;
  width: 100%;
  margin: 10px 0px 30px 0px;
  object-fit: cover;

}

/* ipadpro device */
@media screen and (max-width: 1024px) {
  .custumeAllRow{
    width:90%;
  }
  /* blog -top5benefit eating ornage */
  .wrapper-blogOne{
    width: 70%!important;
  }
  .custumCardBlog {
  height: 550px;
  }
}

/* ipad air mini medium device */
@media screen and (max-width: 990px) {

  .custumeAllRow{
    width:98%;
  }
  .custumImgBlog img{
    height: 200px;
  }
  .custumCardBlog {
    height: 500px;
    }
 
}

/* phone device */
@media screen and (max-width: 600px) {
.custumeBGNavbar{
    padding: 10px 20px;
  }
  .custumeContainerBlog{
padding-top: 0!important;
  }
  /* blog -top5benefit eating ornage */
   .wrapper-blogOne{
    width: 90%!important;
    margin: 0px auto!important;
  }

  .custumeContainerBlog {
    background-color: #F5F5F7;
  }
  .bighero-blog {
    background-color: #F5F5F7;
  }
/* blog detail 1 top 5 benefit */
.bighero-blog h1{
font-size: 30px;
text-align: left;
padding:40px 20px;

}
/* main-blog-page */
.custumeMainBlogH1{
padding-bottom: 0!important;
}
.mainContainer{
  padding: 20px 0px;
  }
  .custumeImgBlog3{
    height: 400px;
    margin: 20px 0px 30px 0px!important;
  }

}