


/* custume grid */
      

.mainBox-custumgrid{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  /* other option - 1fr 2fr 3fr 1fr */
  grid-template-rows: 100px 300px ;
  /* this means row height on each row*/
  grid-gap: 5px;
  }
  .smallBox-custumgrid{
  background-color: aquamarine;
  }
  .sideBox{
    background-color: pink;
    grid-row: 1/3;
  /* count top to bottom gap line 1 2 3 */
    grid-column: 4/5;
    /* grid colume move pink box to the end 
    count left to right from gap 1 2 3 4 */
  }
  


.mainBoxCoverCarousel{
    width: 100%;
    height: 60vh;
    display: flex;
    }
    .textSide{
    width: 30%;
    }
    
    .carousel{
        background: #EEE;
        width: 70%;
        margin: auto;
      }
      
      .carousel-cell {
        width: 36%;
        height: 200px;
        margin-right: 10px;
        background: #8C8;
        border-radius: 5px;
        counter-increment: gallery-cell;
      }
      
    
      .carousel-cell:before {
        display: block;
        text-align: center;
        content: counter(gallery-cell);
        line-height: 200px;
        font-size: 80px;
        color: white;
      }

    
    
    
    